@charset "utf-8";
/*
	Author: John Clifford
	Date:   3/26/2018
	Filename: css/btecstyles.css
*/
/*== Custom page colors ==

Green: #29512E
Dark Blue: #001b68
Light Grey: #CAC0B8
Brown Grey #5F5347
Light Blue #87ACED
Grey #B1A899
Dark Grey #4C515E
*/


body {
	width: 100%;
	height: 100%;
 	padding-top: 55px;
	background-color: #B1A899; 
} 

section#main {
   margin-top: 35px;
   height: 100%;
   width: 100%;
}

/* For all pages */
section#main #pagetitle {
   text-align: center;
	font-style: italic;
	font-variant: small-caps;
}


/* adjust the width and color of the pill tabs */
section#main .nav > .nav-link {
   width: 20rem;
   color: black;
}

/* for external.html video tabs 
	adjust the width and color of the pill tabs */
	
article#video  .nav > .nav-link {
   width: 10rem;
   color: black;
}


/* all link <a elements should be green */
section#main a {
    color: green;
    text-decoration: none;
	font-weight: bold;
  /*font-size: 20px;
  line-height: 20px;*/
}